{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DemoKit - Signup{% endblock %}

{% block head %}
	{{ super() }}
	<link crossorigin="anonymous" href="{{ url_for('static', filename='css/github/basic_1.css') }}"  media="all" rel="stylesheet" /> 
	<link crossorigin="anonymous" href="{{ url_for('static', filename='css/github/signup_2.css') }}" media="all" rel="stylesheet" /> 
 </head> 
{% endblock %}

{% block content %}
<body class="logged-out env-production session-authentication page-responsive min-width-0">
<div role="form">

<div class="jumbotron jumbotron-codelines" >
  <div class="container-lg p-responsive position-relative">
    <div class="d-md-flex flex-items-center gutter-md-spacious">
      <div class="col-md-7 text-center text-md-left ">
        <h1 class="alt-h0 text-white lh-condensed-ultra mb-3">Built for developers</h1>
        <p class="alt-lead mb-4">
          DemoKit is a development platform inspired by learning for Fun.In the future,it will be a platform for <a href="{{ url_for('main.index') }}" class="text-white jumbotron-link">Data Analysis</a> or <a href="{{ url_for('main.index') }}" class="text-white jumbotron-link">Web Spider</a> or <a href="{{ url_for('main.index') }}" class="text-white jumbotron-link">Machine Learing</a>...Work For Fun.
        </p>
      </div>
      <div class="mx-auto col-sm-8 col-md-5 hide-sm" role="form">
        <div class="rounded-1 text-gray bg-gray-light py-4 px-4 px-md-3 px-lg-4">
          <!-- '"` --><!-- </textarea></xmp> -->
          <form accept-charset="UTF-8" action="" autocomplete="off" class="home-hero-signup js-signup-form" method="post" >
            <div style="margin:0;padding:0;display:inline">
              <input name="utf8" type="hidden" value="✓">
              {{ signup_form.csrf_token }}
            </div>              
            <dl class="form-group mt-0">
              <dd>
                {{ wtf.form_field(signup_form.username) }}
              </dd>
            </dl>
            <dl class="form-group">
              <dd>
                {{ wtf.form_field(signup_form.email) }}
              </dd>
            </dl>
            <dl class="form-group">
              <dd>
                {{ wtf.form_field(signup_form.password) }}
              </dd>
            </dl>
            <dl class="form-group">
              <dd>
                {{ wtf.form_field(signup_form.password2) }}
              </dd>
            </dl>
            <input class="btn btn-primary btn-large f5 btn-block" data-disable-with="Signing in…" name="submit" type="submit" value="Sign up for DemoKit" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="featurette">
  <div class="container-lg p-responsive">
    <h6 class="alt-h4 text-normal text-gray text-center">
      DemoKit for teams
    </h6>
    <h2 class="alt-h1 lh-condensed mt-3 mb-2 text-center">
      A platform to do some intrest things.
    </h2>
    <p class="lead text-center col-md-8 mx-auto">
      DemoKit brings teams together to work through problems, move ideas forward, and learn from each other along the way.
    </p>
    <div class="text-center">
        <a href="{{ url_for('auth.signup') }}" data-ga-click="Signup, Attempt, location:teams; group:excluded_from_experiment">Sign up your account</a>
    </div>
  </div>
</div>

</div>
</div>
</body>
{% endblock %}

