{% extends "base.html" %}

{% block title %}DemoKit{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>File Manager</h1>
    <a href="{{ url_for('main.index') }}">Upload</a>  |  <a href="{{ url_for('main.manage_file') }}">Manage</a>
</div>
<div>
{% for photo in files_list %}
    - {{ photo }}
    <a href="{{ url_for('main.open_file', filename=photo) }}">open</a>
    <a href="{{ url_for('main.delete_file', filename=photo) }}">del</a><br>
{% endfor %}
</div>
{% endblock %}


