{% extends "machine_learning.html" %}

{% block content %}
    <!-- Page Content -->
    <div class="container" style="padding-bottom: 50px;">



      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('main.index') }}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ url_for('main.machine_learning') }}">Machine Learning</a>
        </li>
        <li class="breadcrumb-item active">Classification</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
          <div class="list-group">
            <a href="{{ url_for('main.machine_learning') }}" class="list-group-item">Machine Learning</a>
            <a href="{{ url_for('main.cluster') }}" class="list-group-item">Clustering</a>
            <a href="{{ url_for('main.classify') }}" class="list-group-item active">Classification</a>
            <a href="{{ url_for('main.predict') }}" class="list-group-item">Prediction</a>
          </div>
        </div>
        <!-- Content Column -->
        {% block content_column %}
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item" style="height:auto !important;height:200px;min-height:200px" >
              <div class="card h-100">
                <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{ url_for('main.classify_nlp') }}">NLP</a>
                  </h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{ url_for('main.classify_ann') }}">ANN</a>
                  </h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Bayes</a>
                  </h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item" style="height:auto !important;height:200px;min-height:200px" >

              <div class="card h-100">
                <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">KNN</a>
                  </h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Project Five</a>
                  </h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Project Six</a>
                  </h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item" style="height:auto !important;height:200px;min-height:200px" >

              <div class="card h-100">
                <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">KNN</a>
                  </h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Project Five</a>
                  </h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Project Six</a>
                  </h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Pagination -->
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>

        </div>
        {% endblock %}

      </div>
      <!-- /.row -->

    </div>
{% endblock %}

{% block body_attribs %} style="position: relative;" {% endblock %}





