{% extends "base.html" %}

{% block content %}
	<header>
	  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	    <ol class="carousel-indicators">
	      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	    </ol>
	    <div class="carousel-inner" role="listbox">
	      <!-- Slide One - Set the background image for this slide in the line below -->
	      <div class="carousel-item active" style="background-image: url('{{ url_for('static', filename='images/background_image_1900_1080_1.jpg') }}')">
	        <div class="carousel-caption d-none d-md-block">
	        	<h3>Life</h3>
	          	<p>Life is coffee and sugar.</p>
	        </div>
	      </div>
	      <!-- Slide Two - Set the background image for this slide in the line below -->
	      <div class="carousel-item" style="background-image: url('{{ url_for('static', filename='images/background_image_1900_1080_2.jpg') }}')">
	        <div class="carousel-caption d-none d-md-block">
	          <h3>Challenge</h3>
	          <p>Ocean behinds the mountains.</p>
	        </div>
	      </div>
	      <!-- Slide Three - Set the background image for this slide in the line below -->
	      <div class="carousel-item" style="background-image: url('{{ url_for('static', filename='images/background_image_1900_1080_3.jpg') }}')">
	        <div class="carousel-caption d-none d-md-block">
	          <h3>Peace</h3>
	          <p>Nothing is seriours.</p>
	        </div>
	      </div>
	    </div>
	    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	      <span class="sr-only">Previous</span>
	    </a>
	    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	      <span class="carousel-control-next-icon" aria-hidden="true"></span>
	      <span class="sr-only">Next</span>
	    </a>
	  </div>
	</header>
	<div class="container" style="padding-bottom: 50px;">

		<h1 class="my-4">Welcome to DemoKit Platform</h1>

		<!-- Marketing Icons Section -->
		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="card h-100">
					<h4 class="card-header">Data Analysis</h4>
					<div class="card-body">
						<p class="card-text">Including Data Processing, Digging, Statistics, Visualization and ... </p>
					</div>
					<div class="card-footer">
						<a href="{{ url_for('main.data_analysis') }}" class="btn btn-primary">Go Ahead</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card h-100">
					<h4 class="card-header">Machine Learning</h4>
					<div class="card-body">
						<p class="card-text">Including Clustering , Classification , Prediction, Matching and ...</p>
					</div>
					<div class="card-footer">
						<a href="{{ url_for('main.machine_learning') }}" class="btn btn-primary">Go Ahead</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card h-100">
					<h4 class="card-header">Others</h4>
					<div class="card-body">
						<p class="card-text">More funny function is coming...</p>
					</div>
					<div class="card-footer">
						<a href="{{ url_for('main.about') }}" class="btn btn-primary">Learn More</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->

		<hr>

	</div>
{% endblock %}
