{% extends "base.html" %}

{% block content %}
    <!-- Page Content -->
    <div class="container">



      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('main.index') }}">Home</a>
        </li>
        <li class="breadcrumb-item active">Machine Learning</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
          <div class="list-group">
            <a href="{{ url_for('main.machine_learning') }}" class="list-group-item active">Machine Learning</a>
            <a href="{{ url_for('main.cluster') }}" class="list-group-item">Clustering</a>
            <a href="{{ url_for('main.classify') }}" class="list-group-item">Classification</a>
            <a href="{{ url_for('main.predict') }}" class="list-group-item">Prediction</a>
          </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-9 mb-4">
          <h2>Machine Learning</h2>
          <p>Machine Learning paltform</p>
        </div>
      </div>
      <!-- /.row -->

    </div>
{% endblock %}

{% block body_attribs %}{% endblock %}

